/* 사이드 css */

/* 스크롤 없는 페이지 넘어가면 스크롤바 크기정도 쏠리는 현상 없앰 */
body {
  overflow-y: scroll;
}


.side {
  width: 25%;
  height: 100vh;
  background: rgb(247 247 247);
  position: sticky;
  top:0px;
  z-index: 10;
  background-image: url("../../resources/img/animation.gif");
  background-size: 260%;
  background-position: -310px;
}

/* .side .ani-ul {
  width: 100%;
  overflow: hidden;
 position: absolute;
  z-index: -1;
 }

 .side .animation {
   width: 300%;
 } */

.side > div {
  width: 80%;
  margin: 10% auto;
}

/* 최상단 버튼들 시작 */
.side .menu {
  margin-top: 20%;
  height: 35%;
  /* background: orange; */
}

.side .menu a {
  width: 100%;
  display: flex;
  height: 20%;
  margin: 0 50% 5% 0;
  font-weight: bolder;
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.side .menu a:hover {
 color: rgb(191, 23, 23);
}

/* 에어팟 이미지 */
.side .imgDiv {
width: 50%;
position: relative;
  z-index: 2;
  margin: 0 auto;

}

.side img {
width: 100%;
}

/* 음악 컨트롤러 */
.controller-module {
 height: 190px;
 width: 430px;
 background-color: #1e2125;
 border-radius: 30px;
 overflow: hidden;
 position: relative;
 top: 50px;
 
}
.controller-module ul {
 display: flex;
}

.controller-module h1 {
 font-family: "Open Sans", sans-serif;
 font-size: 13pt;
 font-weight: 600;
 text-transform: uppercase;
 color: white;
 cursor: default;
}

.controller-module h4 {
 font-family: "Open Sans", sans-serif;
 font-size: 8pt;
 font-weight: 400;
 cursor: default;
}

.controller-module h2 {
 font-family: "Open Sans", sans-serif;
 font-size: 13pt;
 font-weight: 300;
 color: white;
 cursor: default;
}

.controller-cover {
 top: 0;
 left: 0;
}
.controller-cover img {
 height: 190px;
 width: 190px;
}

.controller-info h1 {
 margin-top: 5%;
 
 margin-left: 15%;
}
.controller-info h4 {
 margin-top: 5%;
 margin-left: 15%;
 line-height: 20px;
 color: #636367;
}
.controller-info h2 {
 margin-top: 5%;
 margin-left: 15%;
}

.controller-button-items {
 margin-left: 15%;
 margin-top: 10%;
}

#controller-slider {
 width: 80%;
 height: 1%;
 background: #151518;
 border-radius: 2px;
}
#controller-slider div {
 width: 4px;
 height: 4px;
 margin-top: 1px;
 background: #ef6dbc;
 border-radius: 2px;
}

#controller-timer {
 color: #494b4e;
 font-size: 9pt;
 float: right;
 font-family: Arial, Sans-Serif;
}

.controller-controls {
 margin-top: 20px;
}
.controller-controls svg:nth-child(2) {
 margin-left: 5px;
 margin-right: 5px;
}

#controller-play {
 padding: 0 3px;
 width: 30px;
 height: 30px;
 x: 0px;
 y: 0px;
 enable-background: new 0 0 25 25;
}
#controller-play g {
 stroke: #fefefe;
 stroke-width: 1;
 stroke-miterlimit: 10;
}
#controller-play g path {
 fill: #fefefe;
}

#controller-play:hover {
 cursor: pointer;
}
#controller-play:hover g {
 stroke: #8f4da9;
 cursor: pointer;
}
#controller-play:hover g path {
 fill: #9b59b6;
 cursor: pointer;
}

.controller-step-backward {
 width: 18px;
 height: 18px;
 x: 0px;
 y: 0px;
 enable-background: new 0 0 25 25;
 margin-bottom: 5px;
}
.controller-step-backward g polygon {
 fill: #fefefe;
}

.controller-step-foreward {
 width: 18px;
 height: 18px;
 x: 0px;
 y: 0px;
 enable-background: new 0 0 25 25;
 margin-bottom: 5px;
}
.controller-step-foreward g polygon {
 fill: #fefefe;
}

#controller-pause {
 x: 0px;
 y: 0px;
 enable-background: new 0 0 25 25;
 width: 30px;
 height: 30px;
 position: absolute;
 margin-left: -38px;
 cursor: pointer;
}
#controller-pause rect {
 fill: white;
}

#controller-pause:hover rect {
 fill: #8f4da9;
}

.controller-step-backward g polygon:hover,
.controller-step-foreward g polygon:hover {
 fill: #ef6dbc;
 cursor: pointer;
}

.controller-social {
 text-align: center;
}

p {
 color: #bdbdbd;
}

#controller-skip {
 float: right;
 margin-top: 10px;
}
#controller-skip p {
 color: #2980b9;
}
#controller-skip p:hover {
 color: #e74c3c;
 cursor: pointer;
}

.controller-expend {
 padding: 0.5px;
 cursor: pointer;
}
.controller-expend svg:hover g polygon {
 fill: #ef6dbc;
}

/* 애니메이션 css */
  /* .staggering-grid-demo {
  width: 300px;
  position: absolute;
  top: 350px;
    display: grid;
    grid-template-columns: repeat(25, 12px);
    grid-template-rows: repeat(25, 12px);
    gap: 0.001px;
    border-radius: 50%;
  overflow: hidden;

  }

  .el {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  } */











/* main화면 css */

section.main{
width: 1700px;
margin: 0 auto;
display: flex;
/* background: skyblue; */
}

section.main .main-right {
width: 75%;
background: black;
position:relative;
display: none;
}

/* 검색 창 */
section.main .main-right .search {
color: white;
font-size: 50px;
margin-left: 70px;
margin-top: 100px;
}

/* 우측 로고 이미지 */
section.main .main-right .main-logo-img {
width: 20%;
  position: absolute;
  left: 78%;
  top: 80px;
}

section.main .main-right .main-logo-img img{
width: 100%;
}

/* them by feeling */
section.main .main-right .choose-text{
font-size: 70px;
color: white;
margin-left: 70px;
margin-top: 60px;
}


/* 음악 더미 이미지 */
section.main .main-right .choose-img {
  width: 100%;
  margin: 40px;
}

section.main .main-right .choose-img img {
  display: inline-flex;
  margin-left: 32px;
  margin-bottom: 40px;
  border: 3px solid white;
  border-radius: 30px;
  width: 19%;
}

section.main .main-right .choose-img img:hover {
    border: 3px solid rgb(191, 23, 23);
  border-radius: 30px;
}

/* 비디오 페이지 */

section.main .video-right {
  width: 75%;
  background: black;
  position:relative;
  display: block;
  color: white;
  }

  section.main .video-right .youtube-video {
    width: 1179px;
    height: 663px;
    margin: 50px auto 0px;
    /* background: skyblue; */
  }

  section.main .video-right .youtube-video iframe {
    width: 100%;
    height: 100%;
  }

  section.main .video-right .video-text {
    /* background: orange; */
    margin: 0 auto;
    font-size: 30px;
  }

  section.main .video-right .co-pl {
    display: flex;
    width: 1179px;
    margin: 100px auto 0;
    background: yellow;
  }

  section.main .video-right .co-pl .comments {
    background: #8f4da9;
    width: 75%;
  }

  section.main .video-right .co-pl .comments .people {
    margin: 10px 0;
  }

  
  section.main .video-right .co-pl .playList {
    background: orange;
    width: 25%;
    text-align: center;
  }
