<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="../../../../resources/css/style.css"
	rel="stylesheet">
    <!-- reset css -->
    <link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    
    
</head>
<body>
    
    <!-- 메인 화면 -->
    <section class="main">
        
        <!-- 왼쪽 고정 menu, controller -->
        <div class="side">
            
            <!-- <ul class="ani-ul">
                <img class="animation" src="../../../../resources/img/animation.gif" alt="">
            </ul> -->
            
            <!-- 페이지 넘어갈 곳 -->
            <div class="menu">
                <a href="#">log in</a> 
                <a href="#">join</a> 
                <a class="mainBtn" href="#">main page</a> 
                <a class="videoBtn" href="#">video page</a>
            </div>
            
            <!-- 에어팟 이미지 -->
            <div class="imgDiv">
                <img id="airImg"
                src="../../../../resources/img/airpods2.png" alt="#">
            </div>
            
            <!-- 뒤에 애니메이션 (변경 예정) -->
            <!-- <div calss="body">
                <div class="staggering-grid-demo">
                    <%for(int i=1; i<=625; i++) {  %>
                        <div class="el"></div>
                        <%}  %>
                    </div>
                </div> -->
                
                <!-- 음악 컨트롤러 -->
                <div class="controller-module">
                    <ul>
                        <!-- 왼쪽 커버이미지 -->
                        <li class="controller-cover"><img
                            src="../../../../resources/img/밤편지2.jpg" /></li>
                            <li class="controller-info">
                                
                                <h1>The Noisy Freaks</h1> <!-- 팀명 -->
                                <h4>Premiere</h4> <!-- 소속사 -->
                        <h2>I Need You Back</h2> <!-- 노래 제목 -->
                        
                        <!-- 우측 하단 버튼 -->
                        <div class="controller-button-items">
                            <!-- 오디오 -->
                            <!-- <audio id="music" preload="auto" loop="false">
                                <source
                                src="https://dl.dropbox.com/s/oswkgcw749xc8xs/The-Noisy-Freaks.mp3?dl=1"
                                type="audio/mp3">
                                <source
                                src="https://dl.dropbox.com/s/75jpngrgnavyu7f/The-Noisy-Freaks.ogg?dl=1"
                                type="audio/ogg">
                            </audio> -->
                            <!-- 진행시간 바 -->
                            <div id="controller-slider">
                                <div id="controller-elapsed"></div> <!-- 진행중인 바 -->
                            </div>
                            <p id="controller-timer">0:00</p> <!-- 타이머 -->
                            
                            
                            
                            <!-- 우측 하단 진행 버튼 -->
                            <div class="controller-controls">
                                
                                <!-- 이전 버튼 < -->
                                <span class="controller-expend"><svg class="controller-step-backward"
                                    viewBox="0 0 25 25" xml:space="preserve">
                                    <g>
                                        <polygon
                                        points="4.9,4.3 9,4.3 9,11.6 21.4,4.3 21.4,20.7 9,13.4 9,20.7 4.9,20.7" /></g>
                                    </svg></span>
                                    
                                    <!-- 재생 버튼 -->
                                    <svg id="controller-play" viewBox="0 0 25 25" xml:space="preserve">
                                        <defs>
                                            <rect x="-49.5" y="-132.9" width="446.4" height="366.4" /></defs>
                                    <g>
                                        <circle fill="none" cx="12.5" cy="12.5" r="10.8" />
                                        <path fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M8.7,6.9V18c0,0,0.2,1.4,1.8,0l8.1-4.8c0,0,1.2-1.1-1-2L9.8,6.5 C9.8,6.5,9.1,6,8.7,6.9z" />
                                    </g>
                                </svg>
                                
                                <!-- 멈춤 버튼 -->
                                <svg id="controller-pause" viewBox="0 0 25 25" xml:space="preserve">
                                    <g>
                                        <rect x="6" y="4.6" width="3.8"
                                        height="15.7" />
                                        <rect x="14" y="4.6" width="3.9"
                                        height="15.7" />
                                    </g>
                                    </svg>
                                    
                                    <!-- 다음 버튼 > -->
                                    <span class="controller-expend"><svg class="controller-step-foreward"
                                        viewBox="0 0 25 25" xml:space="preserve">
                                        <g>
                                            <polygon
                                            points="20.7,4.3 16.6,4.3 16.6,11.6 4.3,4.3 4.3,20.7 16.7,13.4 16.6,20.7 20.7,20.7" /></g>
                                    </svg></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>  
            
            
            <!-- main page 오른쪽 -->
            <div class="main-right" id="main-right">
                
                <ul>
                    <!-- 검색 기능  -->
                    <li class="search">
                        <a>search</a>
                    </li>
                    
                    <!-- 로고 이미지 -->
                    <div class="main-logo-img">
                        <img id="" src="../../../../resources/img/logo_whi.png" alt="#">
                    </div>
                    
                    <!-- 노래 모음 설명 -->
                    <li class="choose">
                    
                    <!-- 추천 테이블 -->
                    <div class="choose-text">
                        them by feeling
                    </div>
                    
                    <!-- 추천 테이블 이미지 -->
                    <div class="choose-img">
                        <img id="" src="../../../../resources/img/happy.png" alt="#">
                        <img id="" src="../../../../resources/img/mood_2_Hip.png" alt="#">
                        <img id="" src="../../../../resources/img/mood_4_Sad.png" alt="#">
                        <img id="" src="../../../../resources/img/mood_1_NowHot.png" alt="#">
                        <img id="" src="../../../../resources/img/happy.png" alt="#">
                        <img id="" src="../../../../resources/img/mood_2_Hip.png" alt="#">
                        <img id="" src="../../../../resources/img/mood_4_Sad.png" alt="#">
                        <img id="" src="../../../../resources/img/mood_1_NowHot.png" alt="#">
                        <img id="" src="../../../../resources/img/happy.png" alt="#">
                        <img id="" src="../../../../resources/img/mood_2_Hip.png" alt="#">
                        <img id="" src="../../../../resources/img/mood_4_Sad.png" alt="#">
                        <img id="" src="../../../../resources/img/mood_1_NowHot.png" alt="#">
                        
                    </div>
                    
                    
                    
                    </li>
                </ul>
                
            </div>


            <!-- 
                vido page 오른쪽
                페이지 넘어갈게 아니라 클릭 시 크기조절로 나타나게 할게요
            -->

            <div class="video-right" id="video-right">
                
                <!-- 상단 영상 위치 -->
                <div class="youtube-video">
                    <iframe src="https://youtu.be/6744glqD6lk" frameborder="0"></iframe>
                    <!-- 팀명, 노래 재목 -->
                    <div class="video-text">
                        아이유 - 밤편지
                    </div>
                </div>
                

                <!-- 하단 댓글, playlist -->
                <div class="co-pl">

                    <div class="comments">
                        <!-- 댓글 1개 이걸 forEach-->
                        <div class="people">
                            <div>닉네임</div>
                            <div>내용</div>
                        </div>

                        <div class="people">
                            <div>닉네임</div>
                            <div>내용</div>
                        </div>
                        
                    </div>
                    
                    <div class="playList">

                        <div>아이유 - 밤편지</div>

                    </div>
                
                </div>


            </div>



         
        </section>
        
        

        <script>

            /*  var music = document.getElementById("music"); */
             var playButton = document.getElementById("controller-play");
             var pauseButton = document.getElementById("controller-pause");
             var playhead = document.getElementById("controller-elapsed");
             var timeline = document.getElementById("controller-slider");
             var timer = document.getElementById("controller-timer");
             var duration;
             var airImg = document.getElementById("airImg");
             var imgDiv = document.querySelector(".imgDiv");
             var anim = document.querySelector(".staggering-grid-demo");
             pauseButton.style.visibility = "hidden";
         
             var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;
             /* music.addEventListener("timeupdate", timeUpdate, false); */
         
           /* 재생 진행 바 기능   
               function timeUpdate() {
             var playPercent = timelineWidth * (music.currentTime / duration);
             playhead.style.width = playPercent + "px";
         
             var secondsIn = Math.floor((music.currentTime / duration / 3.5) * 100);
             if (secondsIn <= 9) {
                 timer.innerHTML = "0:0" + secondsIn;
             } else {
                 timer.innerHTML = "0:" + secondsIn;
             }
             } */
         
             
             /*
                 재생 버튼 클릭 이벤트
                 에어팟 이미지도 같이 변경
                 뒤에 애니메이션도 시작 멈춤 (변경 예정)
             */
                playButton.onclick = function() {
                 console.log("1111");
                  /*music.play(); 음악 재생 */
                 playButton.style.visibility = "hidden"; /* 재생버튼 안보이게하기 */
                 pauseButton.style.visibility = "visible"; /* 멈춤 버튼 나타내기 */
                 airImg.src = "../../../../resources/img/airpods1.png";
                 imgDiv.style.width = "45.2%";
                //  animation.play(); /* 애니메이션 움직임 */
             };    
             /* 
                 멈춤 버튼 클릭 이벤트
                 재생 반대
             */
             pauseButton.onclick = function() {
                  /*music.pause();*/
                 playButton.style.visibility = "visible";
                 pauseButton.style.visibility = "hidden";
                 airImg.src = "../../../../resources/img/airpods2.png";
                 imgDiv.style.width = "50%";
                //  animation.pause();
              };
              
              /* 
                  에어팟 이미지 클릭 이벤트 
                  노래 멈춤 시작 같이 되게
              */
              airImg.onclick = function() {
                  
                  if(airImg.getAttribute('src') === "${pageContext.request.contextPath}/img/airpods2.png") {
                      console.log('열렸따!');
                      /*music.play();*/
                         playButton.style.visibility = "hidden";
                         pause.style.visibility = "visible";
                         airImg.setAttribute('src', "${pageContext.request.contextPath}/img/airpods1.png");
                         imgDiv.style.width = "45.2%";
                        //  animation.play();
                  }
                  else if(airImg.getAttribute('src') === "${pageContext.request.contextPath}/img/airpods1.png"){
                          console.log('닫혔따!');
                           /*music.pause();*/
                         playButton.style.visibility = "visible";
                         pause.style.visibility = "hidden";
                         airImg.src = "${pageContext.request.contextPath}/img/airpods2.png";
                         imgDiv.style.width = "50%";
                        //  animation.pause();
                  }
                  
                  
              }
             
              /*music.addEventListener(
             "canplaythrough",
             function () {
                 duration = music.duration;
             },
             false
             );
         */
     

         
            //  클릭시 페이지 넘어가는것처럼 보이게 하기
            var $mainBtn = document.querySelector(".mainBtn");
            var $videoBtn = document.querySelector(".videoBtn");
            var $mainPage = document.getElementById("main-right");
            var $videoPage = document.getElementById("video-right");

            $mainBtn.onclick = function() {
                console.log("메인페이지 클릭");
                console.log("메인: " + $mainPage.style.dispaly);
                console.log($videoPage.style.dispaly);
                $mainPage.style.display = "block";
                $videoPage.style.display = "none";
            }

            $videoBtn.onclick = function() {
                console.log("비디오페이지 클릭");
                console.log("메인: " + $mainPage.style.dispaly);
                console.log($videoPage.style.dispaly);
                $mainPage.style.display = "none";
                $videoPage.style.display = "block";
            }
         
         
         </script>



        <script>
        
        //공공데이터 날씨
        /* window.onload = () => {
                
                const rsRow = [...document.querySelectorAll('#resultRow *')];
    
                // let date = new date();
                let currentDate = "20230522";
                let currentTime = "1700";
                let key = 'biMFKPX2rMio1vYOKily9qXhvrK7ATHwXvrB%2FUi4f0x9jTnToB%2BOzwAOK81JSQHiqe1WZGA6FL%2BIdr0p3%2F%2F%2BJA%3D%3D';
                let nX = '55';
                let nY = '127';
                
                let temper,sky,pty; // 기온, 하늘상태, 강수형태
                
                let url = 'http://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtFcst';
                let queryParams = '?serviceKey='+key
                        +'&pageNo=1&numOfRows=25&dataType=JSON'
                        +'&base_date='+currentDate
                        +'&base_time='+currentTime
                        +'&nx='+nX
                        +'&ny='+nY
                
                        fetch(url+queryParams).then(res => res.json())
                    .then(data =>{
                        console.log(data);
                        console.log(data.response);
                        console.log(data.response.body);
                        console.log(data.response.body.items);
                        console.log(data.response.body.items.item);
                        let rs = data.response.body.items.item;
                        
                        console.log(rs[6].fcstValue); //강수 형태
                        pty=rs[6].fcstValue; //강수 형태
                        console.log(rs[18].fcstValue); //하늘 형태
                        sky=rs[18].fcstValue
                        console.log(rs[24].fcstValue); //하늘 형태
                        temper=rs[24].fcstValue
    
                        rsRow[0].textContent=currentDate;
                        rsRow[1].textContent=currentTime;
                        rsRow[2].textContent=sky;
                        rsRow[3].textContent=pty;
                        rsRow[4].textContent=temper;
                        
                    });
    
            } */
    

            // 에러나서 잠시 주석 (아래 다)
            // const $playBtn = document.getElementById('playBtn');
            // let vId = "iR_UP6JnpdU";
            // $playBtn.addEventListener('click',function(){
            //     console.log('클릭');
            //     let state = player.getPlayerState();
            //     console.log(state);
            //     if(state == -1||state == 2){
            //         player.playVideo();
            //         console.log("재생");
            //     }else if(state == 5){
            //         console.log(player.getCurrentTime());
            //         console.log(player.getDuration());
            //         player.playVideo();
            //     }else if(state == 1){
            //         player.pauseVideo();
            //         console.log("일시정지");
            //     }
            // });
            
            // 2. This code loads the IFrame Player API code asynchronously.
            //   var tag = document.createElement('script');
    
            //   tag.src = "https://www.youtube.com/iframe_api";
            //   var firstScriptTag = document.getElementsByTagName('script')[0];
            //   firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    
            //   // 3. This function creates an <iframe> (and YouTube player)
            //   //    after the API code downloads.
            //   var player;
            //   function onYouTubeIframeAPIReady() {
            //     player = new YT.Player('player', {
            //       height: '500',
            //       width: '500',
            //       videoId: vId,
            //       events: {
            //         'onReady': onPlayerReady,
            //         'onStateChange': onPlayerStateChange
            //       }
            //     });
            //   }
    
              // 4. The API will call this function when the video player is ready.
            //   function onPlayerReady(event) {
            //     event.target.playVideo();
            //   }
    
              // 5. The API calls this function when the player's state changes.
              //    The function indicates that when playing a video (state=1),
              //    the player should play for six seconds and then stop.
            //   var done = false;
            //   function onPlayerStateChange(event) {
            //     if (event.data == YT.PlayerState.PLAYING && !done) {
            //       setTimeout(stopVideo, 6000);
            //       done = true;
            //     }
            //   }
            //   function stopVideo() {
            //     player.stopVideo();
            //   }
     
        </script>

</body>
</html>